firebase login:use rr.yamamoto@gmail.com
export CLOUDSDK_CONFIG=`pwd`/.config
export CLOUDSDK_CORE_PROJECT=nextjs-project-template-dev
export GCLOUD_PROJECT=nextjs-project-template-dev
PATH_add node_modules/.bin
